.label.resume {
     background-color: #ADADAD;
     color: white;
 }
.active .label.resume {
    background-color: #7D7D7D;
}

.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
    border-left-color: #949494;
    border-right-color: #949494;
}

body {
    /*http://philbit.com/svgpatterns/#subtledots
    *  White canvas
    */
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
    font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
}

.top-bar {
    /*For bigger Title*/
    font-size: 120%;
    background-color: #ADADAD;
}

.top-bar-section li a:not(.button) {
    background-color: #ADADAD;
}
.top-bar-section ul li.active>a {
    background-color: #7D7D7D;
}

h1 small {
    /*For sub title Top Nav*/
    /*font-size: 60%;*/
    color: #ffffff;
    /*background-color: #595959;*/
}

.font-1000 {
    font-size: 1000%;
}

.top-three {
    margin-top: 6em;
}

.nav-block .translucent {
    /*background: transparent;*/
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.nav-block .panel i {
    color: #000000;
}

.circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    /*background: url("../images/connect.jpg") no-repeat;*/
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.grad {
    background: url(../images/graduation.png) left top no-repeat;
}